
#account-wrapper{
		margin-top:40px;
		background-color: white;
		height: 50vh;
		width: 400px;
	}

#avatar {
	    width: 100%;
	    height: 100%;
	    border-radius: 50%;   
	}

.avatar-wrapper {
		width: 200px;
		height: 200px;
		overflow:hidden;	
		text-align: center;
		margin: 0 auto;
	}

.accountInfo-wrapper{
	text-align: center
}

#firstName{
	font-size: 20px;
}

.formAccount-wrapper{
	margin-top: 20px;
	text-align: left;
}

p {
	font-family: "Verdana";
}



