*{
	// border: 1px solid black;
}

.admin-nav-btns{
	list-style-type: none;
	.nav-btn{
		cursor: pointer;
		display: inline-block;
		&:hover > .glyphicon {
	      color: #262335;
	      transform: translate(0, -2px);
	    }
	}
}

.tinyPhoto{
	width: 75px;
}

.album-list-element{
	display: inline-block;
	margin-right: 15px;
}
.users-list{
	list-style-type: none;
}
.users-list-element{
	display: inline-block;
	margin-right: 15px;
}


.delete{
	float: right;
	padding-top: 25px;
	padding-right: 30px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover{
		font-size: 26px;
		color: red;
	}
}

.albums{
	list-style-type: none;
}

.edit-album-input{
	width: 100%;
	height: 42px;
	padding-left: 20px;
}

.no-transactions{
	padding-left: 40px;
}

.transaction-element{
	display: inline-block;
	padding-right: 10px;
}

.filterOptions{
	li{
		display: inline-block;
		padding-right: 15px;
	}
	.filter-choice{
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
}
.transaction-li{
	list-style-type: none;
}
.promo{
	list-style-type: none;
}
.promo-code{
	&:hover{
		text-decoration: underline;
	}
}
.promo-element{
	display:inline-block;
}
.promo-trash{
	padding-top: 0;
	float: right;
}