<div class = "formAccount-wrapper">
	<form>
		<ul>
			<label>Your Name: </label>
			<input class="form-control" type='text' ng-model="updatedUser.firstName" placeholder='{{ user.firstName }}' align="left" ></input><br>
			<label>Last Name: </label>
			<input class="form-control" type='text' ng-model="updatedUser.lastName" placeholder="{{ user.lastName }}" align="left" >
			</input><br>
			<label>Your Email: </label>
			<input class="form-control" type='text' ng-model="updatedUser.email" placeholder="{{ user.email }}" align="left" >
			</input><br>
			<label>Image Url:  </label>
			<input class="form-control" type='text' ng-model="updatedUser.imgUrl" placeholder="Insert image url" align="left" >
			</input><br>
		</ul>
	</form>
</div>	
			<button ng-click="submitUpdate(updatedUser)" class="btn btn-default">submit!</button>
	
