
*{
	// border: 1px solid black;
}
.parallax-img{
	h1{
		padding-top: 80px;
		margin-left: -18%;
		font-size: 100px;
	}
	color: white;
	text-align: center;
	background-image: url("images/featured-bw-vinyl-cropped.jpg");
	height: 40vh;
	width: 100%;
	  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
}

.below-parallax-container{
	height: 1000px;
	padding-top: 40vh;
	background-color: white;

}
.album-showcase{
	height: 200vh;
	background-color: black;
	float: right;

}
.search-container{
	.search-options{
		padding-right: 60px;
	}
	padding-top: 50px;
	background-color: white;
	height: 200vh;
	float: right;
	width: 25%;
	text-align: center;
	.search-criteria{
		list-style: none;
		padding-left: 0;
		margin: 0 auto;
		li {
			display: inline-block;
			padding: 5px;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

// input {
//     float:right;
//     clear:both;
// }
.searchCrit{
	float: right;
	padding-right: 55px;
}
.album-info {
	color: black;
}

.album{
	// width: 15%;
	// margin-top: 4px;
	transition: all 0.2s ease-in-out;
	&:hover{
		box-shadow: 3px 3px 5px 6px #ccc;

	}
	a{
		text-decoration: none;
	}
	padding-top: 50px;
}