<div class = "promo-maker-container"style = "padding-left: 50px">
<div class = "promo-box" style = "border: 1px solid black; display: inline-block; width: 50%">
		<pre> {{newPromo | json}} </pre>
		<label for="code">Input code</label>
		<!-- <select id="code"ng-model = "newPromo.code" class = "new-promo-element promo-code">
			<option value = "BOGO">BOGO</option>
			<option value = "FREE">FREE</option>
			<option value = "10%OFF">10%OFF</option>
			<option value = "25%OFF">25%OFF</option>
			<option value = "50%OFF">50%OFF</option>
		</select></br> -->
		<input ng-model="newPromo.code" class = "new-promo-element promo-code" placeholder="Promo code"/></br>
		<label for="created">Expiration hours </label>
		<input ng-model = "newPromo.expireString" id = "created" type = "text" value = "24"></input></br></br>
		<label for="percentage">Percentage off items (decimal form)</label>
		<input ng-model="newPromo.percentageOff" class="new-promo-element promo-percentage"required/></br>
		<label>Valid Genres for promo: </label>
		<div class = "checkbox-genre-container">
			<label class="checkbox-inline">
				<input type="checkbox" name="validGenres" ng-model="newPromo.validGenres.Rock"> Rock
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" name="validGenres" ng-model="newPromo.validGenres.Pop"> Pop
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" name="validGenres" ng-model="newPromo.validGenres.Soul"> Soul
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" name="validGenres" ng-model="newPromo.validGenres['Hip-Hop']"> Hip-Hop
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" name="validGenres" ng-model="newPromo.validGenres['R&B']"> R&B
			</label>
		</div>
		<button type = "btn btn-danger" ng-click="makePromo(newPromo)">Create New Promo</button>
		<h1 ng-if="duplicate">Error: You messed up </h1>
	</div>
</div>