.nb{
  position:fixed;
  text-align: center;
  background-color: #262335;
  color: white;
  border-right: 2px solid white;
  height: 100vh;
  width: 13%;
  display: inline-block;

  .filler {
    // border: 1px solid black;
    height: 10%;
    margin-bottom: 25px;
  }
  .nav-element{
    font-size: 24px;
    cursor:pointer;
    margin: 3% auto;
    width: 60px;
    height: 10%;
    color: #ccc;
    // border: 1px solid white;
    .glyphicon {

      transition: 0.2s ease-in-out;
    }
    .text-description{
      transition: 0.2s ease-in-out;
      font-size: 12px;
      opacity: 0;
    }

    &:hover > .glyphicon {
      color: white;
      transform: translate(0, -7px);
    }
    &:hover > .text-description {
      color: white;
      opacity: 1;
    }
  }
}
