<div class="checkout">
	<div class="title">User Cart</div>
	<div class="cart">
	    <table>
	        <thead>
	            <tr>
	                <td class="item">Item</td>
	                <td class="quantity">Quantity</td>
	                <td class="price">Price</td>
	                <td class="remove-head"></td>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="cartItem in cartItems">
	                <td class="item">
	                    	<div class="item-img">
	                        	<img ng-src='{{cartItem.album.image}}'>
	                        <div class="item-desc">
	                    		<a ui-sref="albumDetail({albumId: cartItem.album._id})">
	                            {{cartItem.album.title}}
	                        </a>
	                        </div>
	                    </div>
	                </td>
            		<td class="quantity">
                        <input ng-model="cartItem.quantity" size="2" value="{{cartItem.quantity}}" ng-change="updateCartQuantity(cartItem.album, cartItem.quantity)">
                    </td>
	                <td class="price">
	                    {{cartItem.album.price | currency}}
	                </td>
	                <td class="remove" ng-click="deleteFromCart(cartItem.album)">x</td>
	            </tr>
	        </tbody>
	    </table>
     	<div id="price-summary">
            <div class="subtotal total">
                <div class="price">
                    <span>{{totalPrice | currency}}</span>
                <div class="label">Subtotal</div>
                </div>
            </div>
            <div class="tax total">
                <div class="price">
                    <span>{{0.00 | currency}}</span>
                </div>
                <div class="label">Tax</div>
            </div>
            <div class="shipping total">
                <div class="price">
                    <span>{{0.00 | currency}}</span>
                </div>
                <div class="label">Shipping</div>
            </div>
            <div class="empty-message total" ng-show="!cartItems">
                <a id="message" ui-sref="store">You have nothing in your shopping cart.</a>
            </div>
        </div>
            <div class="button">
            	<button class="btn btn-primary" ui-sref="checkout">Checkout</button>
            <div>
    </div>
</div>














