<div class="container">
	<div class="row">
		<table class="table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Item</th>
					<th>Current Quantity</th>
					<th>Edit Quantity</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cartItem in cartItems">
<!-- <<<<<<< HEAD
					<td>
						<a ui-sref="albumDetail({albumId: cartItem.album})">
						<img src='{{cartItem.album.image}}' height="56" width="56">
						</a>
					</td>
					<td>
						<a ui-sref="albumDetail({albumId: cartItem.album})">
						{{cartItem.album.title}}
						</a>
					</td>
					<td>
						<select ng-model="cartItem.quantity" ng-model="cartItem.quantity" ng-change="updateCartQuantity(cartItem.album, cartItem.quantity)" convert-to-number>
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						</select>
					</td>
					<td>{{cartItem.quantity}}</td>
					<td>{{cartItem.album.price}}</td>
					<td class="remove-item" ng-click="deleteFromCart(cartItem.album)">x</td>
======= -->
				 <div>
				 	<!-- {{cartItem}} -->
						<td class="col-md-3 col-lg-5 col-sm-3">
							<a ui-sref="albumDetail({albumId: cartItem[0]._id})">
							<div>
								<img class="circle col-md-3 col-lg-5 col-sm-3" src='{{cartItem[0].image}}'>
							</div>
							</a>
						</td>
						<td class="col-md-2 col-lg-3 col-sm-3">
							<a ui-sref="albumDetail({albumId: cartItem[0]._id})">
							{{cartItem[0].title}}
							</a>
						</td>
						<td class="col-md-2 col-lg-3 col-sm-3">{{cartItem[1]}}</td>
						<td class="col-md-2 col-lg-3 col-sm-3">
							<select ng-model="cartItem[1]" ng-change="updateCartQuantity(cartItem, cartItem[1])" convert-to-number>
							  <option value="1">1</option>
							  <option value="2">2</option>
							  <option value="3">3</option>
							  <option value="4">4</option>
							  <option value="5">5</option>
							  <option value="6">6</option>
							  <option value="7">7</option>
							  <option value="8">8</option>
							  <option value="9">9</option>
							  <option value="10">10</option>
							</select>
						</td>
						<td class="col-md-1 col-lg-1 col-sm-1">${{cartItem[0].price}} </td>
						<td class="remove-item col-md-1 col-lg-1 col-sm-1" ng-click="deleteFromCart(cartItem[0])">x</td>
				  </div>
				</tr>
			</tbody>
		</table>
	</div>
	<button class="btn btn-default col-md-3 col-md-offset-9 col-lg-3  col-lg-offset-9 col-sm-3 col-sm-offset-9 checkout" ng-click="checkout(cartItems)"> Checkout </button>
</div>