* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  width: 87%;
  float: right;
  margin: 0 auto;
  display: inline-block;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'store/store';
@import 'cart/cart';
@import 'account/account';
@import 'album/album';
@import 'admin/main';
@import 'account/transactionHist';