.album-wrapper{
  margin: 0 auto;
  text-align: center; 
}

.album-image {
  height: 85vh;
}

#star-review{
  float: right;
}

.playlist{
  margin-top: 20px;
}

audio {
    background-color: #95B9C7;
}