.album-wrapper{
  margin: 0 auto;
  text-align: center; 
}

.album-image {
  height: 85vh;
}

#star-review{
  float: right;
}

.playlist{
  margin-top: 20px;
}

audio {
    background-color: #95B9C7;
}

.playlist {
  height:250px; 
  width:50%;
  overflow:hidden; 
  overflow-y:scroll;
  margin: 50px 0px 50px 520px;
}

.textureAlb{
  border-radius: 70px;
  background: #000 url("images/Vinyl_groove_macro.jpg") center center;
  width: 100%;
  height: 600%;
  background-size: 100%;
  position: relative;
}
.album-image{
  padding: 30px;
  display: inline-block;
  width: 90%;
  height: 90%;
}

.album{
  margin: 10px;
  padding: 10px;
  color: white;
  text-align: right;
}


.textTracks{
 font-size: 40px;
}

.albumDetailBody{
  background-image: url("http://orig09.deviantart.net/8d94/f/2011/252/8/1/vinyl_stock_4_by_minicorndogs-d49d3zb.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}